@charset "utf-8";

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-color: #f7f7f7;
    font-family: 'Courier New', 'Garamond', sans-serif;
    font-size: 14px;
}

.b-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f7f7f7;
}

pre {
    font-family: 'Courier New', 'Garamond', sans-serif;
}